// Variables
// Colors
$accent-color-dark: #125A5D;
$accent-color-mid: #2A7E81;
$accent-color-light: #9EBDBC;
$text-color-dark: #3B3E3E;
$text-color-light: #5A6262;
$text-color-contrast: #ffffff;
$text-color-accent: #826353;
$surface-color-line: #F2DFD5;
$surface-color-mid: #F5EBE6;
$surface-color-light: #FCF5F0;
$surface-color-shader: rgba(48, 38, 31, 0.83);

// Typography
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-family-serif: 'Playfair Display', serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

// Type sizes
$font-size-small: calc(14 / 16 * 1rem);
$font-size-medium: calc(16 / 16 * 1rem);
$font-size-large: calc(20 / 16 * 1rem);
$font-size-header-small: calc(20 / 16 * 1rem);
$font-size-header-medium: calc(23 / 16 * 1rem);
$font-size-header-large: calc(32 / 16 * 1rem);
$font-size-header-xlarge: calc(42 / 16 * 1rem);

// Spacing
$spacing-unit-1: 10px;
$spacing-unit-2: calc(2 * $spacing-unit-1);
$spacing-unit-3: calc(3 * $spacing-unit-1);
$spacing-unit-4: calc(4 * $spacing-unit-1);
$spacing-unit-5: calc(5 * $spacing-unit-1);
$spacing-unit-6: calc(6 * $spacing-unit-1);

// Breakpoints - defined as upper sizes
$tablet: 900px;
$small-tablet: 700px;
$mobile: 576px;

// -- Mixins
@mixin for-size-and-smaller($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin for-bigger-than($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
@mixin for-tablet-only{
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}


// main layout
$max-content-width: 1050px;
:root {
  --content-hpadding: #{$spacing-unit-5};
  --content-vpadding: #{$spacing-unit-3};
  
  @include for-size-and-smaller($tablet) {
    --content-hpadding: #{$spacing-unit-4};
    --content-vpadding: #{$spacing-unit-3};
  }
  @include for-size-and-smaller($mobile) {
    --content-hpadding: #{$spacing-unit-2};
    --content-vpadding: #{$spacing-unit-2};
  }
}


// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $surface-color-light;
  color: $text-color-dark;
  font-weight: $font-weight-light;
  line-height: 125%;
  font-size: $font-size-medium;
}


strong, b{
  font-weight: $font-weight-bold;
  color: $text-color-accent;
}

h1, h2, h3{
  color: $text-color-dark;
  font-family: $font-family-serif;
}

h1 {
  font-size: $font-size-header-xlarge;
  font-weight: $font-weight-normal;
  line-height: 125%;
}

h2 {
  font-size: $font-size-header-large;
  font-weight: $font-weight-normal;
  line-height: 125%;
}

h3 {
  font-size: $font-size-header-medium;
  font-weight: $font-weight-normal;
  line-height: 125%;
}

h4 {
  font-size: $font-size-header-small;
  font-weight: $font-weight-semibold;
  color: $text-color-dark;
  font-family: $font-family-sans-serif;
  line-height: 125%;
}

hr {
  margin: $spacing-unit-2 0;
  border: 0;
  height: 1px;
  background-color: $surface-color-line;
}

a {
  text-decoration: none;
  color: $accent-color-dark;
}

ul{
  margin: $spacing-unit-1 0;
  list-style-position: outside;
  padding-left: 1rem;
  
}
li {
  list-style-type: disc;
  margin-top: 2px;
  padding-left: 0.5rem;
  
  &::marker {
      font-size: 0.8em; /* Adjust the size as needed */
      color: $text-color-accent;
    }
}

// Layouts

.highlight-container {
  background-color: $surface-color-mid;
}

.content-container {
  max-width: $max-content-width;
  margin: var(--content-vpadding) auto;
  padding: 0 var(--content-hpadding);

}
 
// buttons
.button{
  display: block;
  padding: $spacing-unit-1 $spacing-unit-4;
  border-radius: 5px;
  font-weight: $font-weight-semibold;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
  
  &:focus{
    outline: 1 solid $accent-color-dark;
  }

  a {
    text-decoration: none;
  }
  
  &__primary{
    @extend .button;
    background-color: $accent-color-mid;
    color: $text-color-contrast;
        
    &:hover {
      background-color: $accent-color-dark
    }
  }

  &__secondary{
    @extend .button;
    background: none;
    border: 1px solid $accent-color-light;
    color: $accent-color-dark;
        
    &:hover {
      color: $text-color-dark;
      background-color: rgba($accent-color-light, 0.2);
    }
  }
}

// Pages
.portfolio{
  // Personal info
  .personal-info {
    padding-top: 0;
    margin-bottom: $spacing-unit-6;
    h1{
      margin-bottom: $spacing-unit-1;
    }
    @include for-size-and-smaller($small-tablet) {
      margin-bottom: $spacing-unit-4;
    }
  }
  
  
  .portfolio-section{
    margin-bottom: $spacing-unit-6;
    margin-top: $spacing-unit-6;
    @include for-size-and-smaller($mobile) {
      margin-bottom: $spacing-unit-3;
      margin-top: $spacing-unit-2;
    }
    
    &__title{
      margin-bottom: $spacing-unit-2;

      @include for-size-and-smaller($mobile) {
        margin-bottom: $spacing-unit-1;
      }
    }

    .thread-name{
      font-weight: $font-weight-bold;
      color: $accent-color-dark;
    }

    // unfiltered items below, showing standard items
    &__all{
      .grid {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-unit-2;        
      }
    } 
    
    &__filtered{
      @extend .portfolio-section__all;
      @include for-bigger-than($mobile) {
        .grid{
          display: block;
        }
      }
    }      
  }   
}

// Components
.nav {
  padding: 8px 0 8px 0;
  background-color: $surface-color-mid;
  width: 100%;
  top: 0;
  z-index: 1000;

  &__container {
    max-width: $max-content-width;
    margin: 0 auto; 
    padding: 0 var(--content-hpadding);


    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: $text-color-light;
    text-decoration: none;
    margin-right: auto;
    padding: 2px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.06);
    }

    &-icon {
      width: 26px;
      height: 26px;
      //filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }


  &__links {
    display: flex;
    gap: 2rem;
    
    a {
      font-size: $font-size-medium;
      letter-spacing: calc(0.01 * $font-size-medium);
      color: $text-color-light;
      text-decoration: none;
      font-weight: $font-weight-normal;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s ease, color 0.3s ease;

      &:hover {
        font-weight: $font-weight-bold;
        letter-spacing: 0;
      }

      &.active {
        border-bottom-color: $accent-color-light;
        font-weight: $font-weight-bold; 
        letter-spacing: 0;
      }
    }
  }
}

// footer
.footer {
  background-color: $surface-color-mid;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  
  .footer-content {
    padding: var(--content-vpadding) var(--content-hpadding);
    max-width: $max-content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: $spacing-unit-1;

  }
  
  p {
    margin: 0;
  }

}


// Threads filter
.thread-filter {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: var(--content-vpadding) var(--content-hpadding);
  background-color: $surface-color-mid;

  hr {
    margin-top: $spacing-unit-1;
  }

  &__flex {
    display: flex;
    gap: $spacing-unit-4;

    @include for-size-and-smaller($tablet) {
      gap: $spacing-unit-2;
    }

    @include for-size-and-smaller($mobile) {
      flex-direction: column;
      gap: $spacing-unit-1;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;    
    @include for-size-and-smaller($tablet) {
      gap: 0.25rem;
    }
    @include for-size-and-smaller($mobile) {
      width: 100%;
      gap: 0.25rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }    
  }

  // mobile nav button
  &__button--nav{
    display: none;
    @include for-size-and-smaller($mobile) {
      display: block;
    }
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    line-height: 1;
    &:active{
      border: 1px solid rgba($accent-color-light, 0.4);
    }
  }
  // small label for mobile
  &__small--label{
    display: none;
    @include for-size-and-smaller($mobile) {
      display: block;
      font-size: $font-size-header-small;
      font-weight: $font-weight-light;
      font-family: $font-family-sans-serif;    
      color: $accent-color-dark;
    }
  }

  &__button {
    padding: 0.5rem var(--content-hpadding);
    margin-left: calc(-1 * var(--content-hpadding));
    border: 1px solid transparent;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left;
    
    color: $text-color-dark;
    font-size: $font-size-header-medium;
    font-weight: $font-weight-light;
    font-family: $font-family-sans-serif;
    letter-spacing: .2px;
    box-sizing: border-box;
    position: relative;
    
    // make smaller on tablet
    @include for-tablet-only{
      font-size: $font-size-header-small;
      letter-spacing: .1px;      
    }
    // hide on mobile
    @include for-size-and-smaller($mobile) {
      display: none;      
    }

    img{
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
      left: calc(0.5 * var(--content-hpadding) - 8px);
      opacity: 0;
      transition: opacity 0.3s ease;
      @include for-size-and-smaller($tablet) {
        width: 12px;
        height: 12px;
        left: calc(0.5 * var(--content-hpadding) - 4px);
      }
    }

    &:hover:not(.thread-filter__button--active) {
      background-color: rgba($accent-color-light, 0.11);
    }
    
    &:focus:not(.thread-filter__button--active) {
      background-color: rgba($accent-color-light, 0.11);
    }

    &--active {
      background-color: rgba($accent-color-light, 0.07);
      color: $accent-color-dark;
      font-weight: $font-weight-semibold;
      letter-spacing: 0;

      img{
        opacity: 1;
      }

      &:hover {
        background-color: rgba($accent-color-light, 0.11);
      }
    }
  }

  &__name {
    display:none;
    font-weight: $font-weight-semibold;
    color: $text-color-accent;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit-2;
  }

  @include for-size-and-smaller($mobile) {
    flex-direction: column;

    &__buttons {
      flex-direction: row;
      flex-wrap: wrap;
      min-width: auto;
    }
  }
}

// Import component styles
@import 'components/modal';
@import 'components/CaseStudy';
@import 'components/About';
@import 'components/PortfolioItem';
