// Variables
// Colors
$accent-color-dark: #125A5D;
$accent-color-mid: #2A7E81;
$accent-color-light: #9EBDBC;
$text-color-dark: #3B3E3E;
$text-color-light: #5A6262;
$text-color-contrast: #ffffff;
$text-color-accent: #826353;
$surface-color-line: #F2DFD5;
$surface-color-mid: #F5EBE6;
$surface-color-light: #FCF5F0;
$surface-color-shader: rgba(48, 38, 31, 0.83);

// Typography
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-family-serif: 'Playfair Display', serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

// Type sizes
$font-size-small: calc(14 / 16 * 1rem);
$font-size-medium: calc(16 / 16 * 1rem);
$font-size-large: calc(20 / 16 * 1rem);
$font-size-header-small: calc(20 / 16 * 1rem);
$font-size-header-medium: calc(23 / 16 * 1rem);
$font-size-header-large: calc(32 / 16 * 1rem);
$font-size-header-xlarge: calc(48 / 16 * 1rem);

// Spacing
$spacing-unit-1: 10px;
$spacing-unit-2: calc(2 * $spacing-unit-1);
$spacing-unit-3: calc(3 * $spacing-unit-1);
$spacing-unit-4: calc(4 * $spacing-unit-1);
$spacing-unit-5: calc(5 * $spacing-unit-1);
$spacing-unit-6: calc(6 * $spacing-unit-1);

// main layout
$content-width: 1050px;
$content-hpadding: $spacing-unit-5;
$content-vpadding: $spacing-unit-4;

// Breakpoints - let's use one for now
$tablet: 768px;

// Mixins
@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Import component styles
@import 'components/modal';
@import 'components/CaseStudy';

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $surface-color-light;
  color: $text-color-dark;
  font-weight: $font-weight-light;
  line-height: 125%;
  font-size: $font-size-medium;
}


strong, b{
  font-weight: $font-weight-bold;
  color: $text-color-accent;
}

h1, h2, h3{
  color: $text-color-dark;
  font-family: $font-family-serif;
}

h1 {
  font-size: $font-size-header-xlarge;
  font-weight: $font-weight-semibold;
  line-height: 125%;
}

h2 {
  font-size: $font-size-header-large;
  font-weight: $font-weight-semibold;
  line-height: 125%;
}

h3 {
  font-size: $font-size-header-medium;
  font-weight: $font-weight-semibold;
  line-height: 125%;
}

h4 {
  font-size: $font-size-header-small;
  font-weight: $font-weight-semibold;
  color: $text-color-dark;
  font-family: $font-family-sans-serif;
  line-height: 125%;
}



a {
  color: $accent-color-dark;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($accent-color-dark, 10%);
  }
}

hr {
  margin: $spacing-unit-2 0;
  border: 0;
  height: 1px;
  background-color: $surface-color-line;
}


// Layouts

.highlight-container {
  background-color: $surface-color-mid;
}

.content-container {
  max-width: $content-width;
  margin: $content-vpadding auto;
  padding: 0 $content-hpadding;

  @include respond-to($tablet) {
    padding: 0 $content-hpadding;
  }
}
 
// buttons
.button{
  display: block;
  padding: $spacing-unit-1 $spacing-unit-4;
  border-radius: 5px;
  font-weight: $font-weight-semibold;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;

  &__secondary{
    @extend .button;
    background: none;
    border: 1px solid $accent-color-light;
    color: $accent-color-dark;
        
    &:hover {
      color: $text-color-dark;
      background-color: rgba($accent-color-light, 0.2);
    }
  }
}

// Pages
.portfolio{
  .portfolio-section{
    margin-bottom: $spacing-unit-4;
    
    p{
      margin-bottom: $spacing-unit-2;
    }

    .thread-name{
      font-weight: $font-weight-bold;
      color: $accent-color-dark;
    }

    .grid {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      
      > * {
        flex: 1 1 300px;
        min-width: 300px;
        max-width: 490px;
      }
    }
    
  }

  // Portfolio items
  .portfolio-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.62;
    border-radius: 10px;
    background-color: $surface-color-light;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(0.99);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      padding: 1rem;
      position: absolute;
      border-top-left-radius: 10px;
      bottom: 0;
      right: 0;
      width: auto;
      background-color: $surface-color-shader;
      color: $text-color-contrast;
      max-width: 90%;
      max-height: 66%;
    }

    h2 {
      color: $text-color-contrast;
    }

    &__title {
      margin-bottom: 0.5rem;
    }

    &__client {
      font-size: $font-size-large;
    }

    &__description {
      display: none;
    }

    &__button{
      display: none;
    }
  }

  // Case study specific grid and portfolio item styles
  .portfolio-section--case-study {
    .grid{
      display: block;
    }

    .portfolio-item {
      max-width: 100%;
      box-shadow: none;
      aspect-ratio: auto;

      &:hover {
        //background-color: rgba(0, 0, 0, 0.02);
        transform: none;

        .portfolio-item__image {
          transform: scale(0.99);
        }
        
        .button__secondary {
          background-color: rgba($accent-color-light, 0.2);
        }
        
      }
      
      a {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        flex-direction: row;
        height: 300px;      
      }
      
      &__image{
        flex: 1;
        min-width: 0;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease;
        
      }
      
      &__content {
        flex: 0 0 auto;
        width: 40%;
        min-width: 330px;
        background: none;        
        position: relative;
        border-radius: 0;
        padding: $spacing-unit-2 $spacing-unit-1;
        color: $text-color-dark;
      }

      h2{
        font-size: $font-size-large;
        color: $text-color-dark;
      }

      &__title {
        font-size: $font-size-header-medium;
        margin-bottom: 0.5rem;
      }

      &__client {
        font-size: $font-size-medium;
        color: $text-color-light;
        font-weight: $font-weight-semibold;
        margin-bottom: 0.5rem;
      }

      &__description {
        display: block;
        margin-bottom: 0.5rem;
        font-size: $font-size-medium;      
      }

      &__button{
        margin-top: $spacing-unit-2;
        display: block;
      }
    }
  }
}

// Components
.nav {
  padding: 8px $content-hpadding 8px $content-hpadding;
  background-color: $surface-color-mid;
  width: 100%;
  top: 0;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: $text-color-light;
    text-decoration: none;
    margin-right: auto;
    padding: 2px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.06);
    }

    &-icon {
      width: 26px;
      height: 26px;
      //filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }


  &__links {
    display: flex;
    gap: 2rem;
    list-style: none;

    a {
      font-size: $font-size-medium;
      letter-spacing: calc(0.01 * $font-size-medium);
      color: $text-color-light;
      text-decoration: none;
      font-weight: $font-weight-normal;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s ease, color 0.3s ease;

      &:hover {
        font-weight: $font-weight-bold;
        letter-spacing: 0;
      }

      &.active {
        border-bottom-color: $accent-color-light;
        font-weight: $font-weight-bold; 
        letter-spacing: 0;
      }
    }
  }
}

// footer
.footer {
  padding: $content-vpadding $content-hpadding;
  background-color: $surface-color-mid;
  width: 100%;
  bottom: 0;
  text-align: center;

}

// Personal info
.personal-info {
  padding-top: 0;
}

// Threads filter
.thread-filter {
  max-width: $content-width;
  margin: 0 auto;
  padding: $content-vpadding $content-hpadding;
  background-color: $surface-color-mid;

  hr {
    margin-top: $spacing-unit-1;
  }

  &__flex {
    display: flex;
    gap: $spacing-unit-4;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 320px;

    p {
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      color: $text-color-light;
    }
  }

  &__button {
    padding: 0.75rem 1.5rem;
    margin-left: -1.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-align: left;
    color: $text-color-dark;
    font-size: $font-size-header-medium;
    font-weight: $font-weight-normal;
    font-family: $font-family-serif;
    box-sizing: border-box;

    &:hover:not(.thread-filter__button--active) {
      background-color: rgba($accent-color-light, 0.2);
    }
    
    &:focus:not(.thread-filter__button--active) {
      background-color: rgba($accent-color-light, 0.2);
    }

    &--active {
      background-color: rgba($accent-color-light, 0.4);
      color: $accent-color-dark;
      font-weight: $font-weight-semibold;

      &:hover {
        background-color: rgba($accent-color-light, 0.6);
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit-2;
  }

  &__featured {
    .portfolio-item {
      max-width: 800px;
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    &__buttons {
      flex-direction: row;
      flex-wrap: wrap;
      min-width: auto;
    }
  }
}